!!!
%html
  %head
    %title Hackerdeck
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "hackerdeck"
    = csrf_meta_tags

  %body
    #navigation-container.navbar.navbar-inverse.navbar-fixed-top

    %div.container.outer-container
      #page-container.page-container
        = yield