
<h1>EVENT TITLE GOES HERE</h1>
<div class="row-fluid">
  <div class="span9">
    <div id="slide-container" class="row-fluid"></div>
    <div id="team-meta-container" class="row-fluid"></div>
  </div>
  <div class="span3" id="sidebar-container">
  </div>

