<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">HackerDeck</a>
    <div class="nav-collapse">
      <ul class="nav">
        <!-- <li class="nav-item">
          <a class="nav-item-link" href="#slideshow">
            <div class="nav-item-icon-container">
              <span class="nav-item-icon"></span>
            </div>
            <span class="nav-item-title">Slideshow</span>
          </a>
        </li>  -->
      </ul>
    </div>
  </div>
</div>