
  <div class="actions btn-group">
    <span class="start btn"><i class="icon-play"></i></span>
    <span class="pause btn"><i class="icon-pause"></i></span>
    <span class="stop btn"><i class="icon-stop"></i></span>
  </div>
  <div class="teams-actions btn-group">
    <span class="prev btn"><i class="icon-backward"></i></span>
    <span class="next btn"><i class="icon-forward"></i></span>
  </div>