<div class="row-fluid">
  <div class="span12">
    <h2><span class="btn btn-success team-index">#</span> <span class="title">HACK ###</span></h2>
  </div>
</div>
<div class="row-fluid">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <p><strong>Members:</strong> Joe, Tom, Steve, Michael</p>
</div>