<div id="countdown-container">
</div>
<div id="image-container" class="img-polaroid">
  <% if(team.image_url) { %>
  <img src="<%= team.image_url %>" class="img-rounded" style="max-width:100%;display:block;max-height:100%;margin:0 auto;"/>');
  <% } %>
</div>